<!DOCTYPE html>

<html>

<head>

<title>Imposter Game</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="game-card">


<div class="logo">
🎭
</div>


<h1>
Imposter Game
</h1>



<form action="/start" method="POST">


<label>
Number of Players
</label>


<input 
type="number"
name="players"
placeholder="Example: 5"
required>


<label>
Topic
</label>


<input
type="text"
name="topic"
placeholder="Example: Mango"
required>



<button>
START GAME
</button>


</form>


</div>


</body>

</html>