<!DOCTYPE html>

<html>

<head>

<title>Password</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="game-card">


<div class="logo">
🔐
</div>


<h1>
Admin
</h1>


<form method="POST">


<label>
Enter Password
</label>


<input 
type="password"
name="password"
placeholder="****"
required
>


<button>
VIEW RESULT
</button>


</form>


</div>


</body>

</html>