<!DOCTYPE html>

<html>

<head>

    <title>Reveal Role</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="game-card">


    <div class="logo">
        🎭
    </div>


    <h1>
        Player {{player}}
    </h1>


    <h2>
        Your Turn
    </h2>


    <p>
        Pass the phone to Player {{player}}
    </p>



    <a href="/show_role" class="btn-link">

        <button>
            REVEAL ROLE
        </button>

    </a>


</div>


</body>

</html>